body {
    margin: 0 auto;
    background-color: #18191A;
}

header {
    height: 50px;
    border: 1px solid #000000;
    background-color: white;
}

img {
    width: 100%;
    display: block;
}

/* || General styles */

h1,
h2,
h3,
p {
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

span {
    font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Work Sans', sans-serif;
    color: #E4E6EB;
    margin-top: 0;
}

h2 {
    margin-top: 0.25em;
    font-weight: 700;
    font-size: 1.5em;
}

h3 {
    font-weight: 400;
}

.status span {
    color:#FF9900;
    font-weight: 700;
    font-size: 1.125em;
}

.about p {
    margin-top: 0.5em;
    color: #c3baba;
}

.anime-item-header,
.anime-item,
.anime-item a
{
    text-decoration: none;
    font-weight: 400;
    color: #E4E6EB;
}

.anime-item-header {
    font-size: 1.25rem;
}

.anime-item {
    font-size: 1rem;
}

.upper-background {
    width: 100%;
    height: 515px;
    background-color: #242526;

}

.container-background {
    /* border: 4px solid aqua; */
    margin: 0 auto;
    width: 1080px;
    max-width: 100%;
    max-height: 100%;
}

.container,
.container-1,
.container-2 {
    margin: 0 auto;
    max-width: 100%;
}

.container {
    width: 900px;
}

.container-1 {
    width: 800px;
}

.container-2 {
    width: 600px;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.background {
    position: relative;
}

.profile-background-image {
    max-height: 380px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-background-icon {
    width: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-260%, 91%);
    position: absolute;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 0 0 13px #242526;
}

.about-profile-info {
    width: 65%;
    float: right;
    padding: 0 2em;
    margin-bottom: 1em;
    /* border: 4px solid yellow; */
    text-align: justify;
}

.profile-detail,
.anime-list-container,
.post-box,
.post-box-1
 {
    background-color: #242526;
    margin-top: .75em;
    border-radius: 7px;
    border: 1px solid#303030;
    margin-bottom: 1em;
    position: relative;
}

.anime-list {
    margin: 1em;
}

.anime-list-nav {
    border-bottom: 3px solid white;
    padding: 0 3em;
}

.sub-nav {
    border-radius: 7px;

    
}

.link-decoration {
    font-size: 1.125rem;
}

.sub-nav ul,
.icon-nav ul,
.anime-list-nav ul {
    list-style: none;
    padding: .5em 0;
    display: flex;
    margin: 0 1em;
}

.anime-list-nav ul {
    justify-content: space-between;
    margin: 0 11em;
    padding-bottom: 1em;
}

.sub-nav li,
.icon-nav li,
.anime-list-nav li {
    /* border: 1px solid orange; */
    padding: .5em 1.125em;
    margin: 0 0.125em;
    /* border: 1px solid green; */
    border-radius: 7px;
    background-color: #3A3B3C;
}

.sub-nav li:hover,
.anime-list-nav li:hover {
    background-color:#7A7D82;
}

.sub-nav a,
.icon-nav a,
.anime-list-nav a{
    text-decoration: none;
    color:whitesmoke;

}

.anime-list-nav a {
    font-size: 1rem;
}
/* Horizontal Stacked Bar Chart */

.status-bar {
    margin: .625em 1em;
    width: 35%;
    /* border: 2px solid white; */
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 10fr 14fr 5fr;
}

.status-bar p {
    text-align: right;
    margin-right: 1em;
    font-size: 1.375rem;
    font-weight: 400;

}

.distance-box-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 10.75fr 3fr 2.25fr 1.5fr 1.5fr;
    /* text-align: left; */
}

.distance-box-2 {
    display: grid;
    grid-template-columns: 1fr 2fr 11.25fr 3fr 3fr 1.5fr;
    
}

.distance-box-3 {
    display: grid;
    grid-template-columns: 1fr 2fr 10.75fr 3fr 2.5fr 2.25fr 1.5fr;
    
}

.anime-item-header {
    margin: 0.5em 0;
    padding-bottom: 0.25em;
    border-bottom: 1px solid orange;
}

.anime-item{
    /* margin: 1em 0; */
    padding: 0.5em 0;
    border-bottom: 1px solid white;
    align-items: center;
}

.anime-item-img,
.anime-item-img-2
 {
    object-fit: cover;
}

.anime-item-img {
    max-width: 60px;
    max-height: 90px;
}

.anime-item-img-2 {
    width: 165px;
    height: 225px;
    /* box-shadow: 2px 2px 0 1px #404040; */
}

.anime-item-img img,
.anime-item-img-2 {
    border-radius: 5px;
}


#plan-to-watch {
    background-color: #7F7FD5;
}

#completed {
    background-color: #86A8E7;
    /* background-color: #E0E0E0; */
}

#watching {
    background-color: #91EAE4;
}

#action-button {
    font-size: 18px;
}

#icon-size-1 {
    font-size: 32px;
    color: #FFD700;
}

#icon-size-2 {
    font-size: 28px;
    color: #FFD700;
}

#action-button:hover{
    color: orange;
}

.copy-right {
    /* border: 1px solid red; */
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: .75em 0;
    background-color: #676767;
    color:orange;
}

/* --- Social --- */

/* --- Topography --- */

.post-box {
    font-size: 1.125rem;
}

.post-box h3, h4 {
    color: white;
    margin: 0;
    font-weight: 300 ;
}

.post-box h3 {
    font-size: 1.325rem;
}

.post-box h4 {
    font-size: 0.875rem;
}

.profile-post-info {
    
}

.detail-post-status span {
    font-family: 'Work Sans', sans-serif;
}

.anime-detail-post-info h1 {
    font-size: 1.625rem;
    /* text-align: center; */
}

.detail-post-detail p{
    color: white;
    text-align: justify;
}

.detail-post-subbar p {
    font-size: .875rem;
    color: #D0D0D0;
}

/* --- Structure --- */

.social-bar {
    max-height: 100px;
    background-color: #242526;
}

.post-box {
    padding: 0.5em 1em;
}

.profile-info {
    margin: auto 0;
    margin-left: 0.75em;
}

.chat-profile {
    padding: 0.5em 1em;
}

/* --- Customization --- */

input {
    min-height: 22px;
    margin-right: 0.5em;
}

.profile-img-1 {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.profile-img-2 {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.profile-img-3 {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    object-fit: cover;
}

.profile-search-icon {
    margin: 0.5em 0.5em;
}

.detail-post-status {
    margin: auto 0;
}

.search-bar-social {
  float: right;
}

.anime-detail-post {
    margin-top: 0.5em;
}

.anime-detail-post-info {
    /* margin: 1em 0; */
    margin-left: 1.5em;
}

.detail-post-title {
    padding-bottom: 0.75em;
}

.anime-detail-post-img {
    position: relative;
}

.anime-detail-post-img:hover .rank,
.anime-detail-post-img:hover .score {
    display: block;
}

.rank {
    display: none;
    position: absolute;
    font-weight: bold;
    top: 0;
    right: 1em;
    z-index: 1000;
    font-weight: 1.125rem;
    background: rgba(255, 0, 0, 0.85);
    padding: .5em .5em .75em;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 85%, 0 100%);
    transition: var(--transition)
}

.score {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    font-weight: bold;
    background-color: rgba(40,40,40,0.78);
    color: #E8E8E8;
    padding: 0.125em 0;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.detail-post-subbar {
    float: right;
}

.btn {
    cursor: pointer;
    border: 0;
    background: #484848;
    border-radius: 0.625rem;
    color: white;
    font-weight: 200;
    font-size: 0.825rem;
    padding: 0 1em;
}

.chat-text {
    height: 400px;
    /* background: linear-gradient(90deg, #141E30 0%, #243B55 100%); */
    background-color: white;
}

.image-background-chat {
    background: linear-gradient(90deg, #1B6186 0%,#0ADE1D 100%);
}

/* --- Customization --- */

.ma {
    margin: auto;
}
.mx {
    margin: auto 0;
}

.pa {
    padding: auto;
}

.mr-05 {
    margin-right: 0.5em;
}

.center-items {
    display: flex;
    align-items: center;
}

.mx-05 {
    margin: 0.5em 0;
}

.mx-1 {
    margin: 1em 0;
}

.px-1{
    padding: 1em 0;
}

.border-bottom-white {
    border-bottom: 1px solid orange;
}

/* --- Testing --- */
#border-1{
    border: 1px solid red;
}

#border-2 {
    border: 1px solid magenta;
}

#border-3 {
    border: 1px solid blue;
}

#border-4 {
    border: 1px solid yellow;
}

.sticky-bottom-right,
.sticky-bottom-left {
    bottom: 0;
    position: absolute;
}

.sticky-bottom-right {
    right: 0;
    transform: translate(-14%, -80%);
}

.sticky-bottom-left {
    transform: translate(470%, -30%);
    left: 0;
}

/* Available */
.status-online,
.status-offline,
.status-dnd {
    border-radius: 50%;
}

.status-online {
    border: 2px solid rgb(20, 201, 20);
}

.status-offline {
    border: 2px solid #686868;
}

.status-dnd {
    border: 2px solid red;
}